<a href="https://colab.research.google.com/github/mohammad2682/FVS-SVM-RKHS/blob/main/SVM_RKHS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from sklearn import svm

In [6]:
!git clone https://github.com/mohammad2682/FVS-SVM-RKHS

Cloning into 'FVS-SVM-RKHS'...
remote: Enumerating objects: 44, done.
remote: Counting objects: 100% (44/44), done.
remote: Compressing objects: 100% (27/27), done.
remote: Total 44 (delta 17), reused 41 (delta 17), pack-reused 0
Unpacking objects: 100% (44/44), done.

In [14]:
df = pd.read_csv("FVS-SVM-RKHS/datasets/pima.csv")
df.head()

   preg  plas  pres  skin  insu  mass   pedi  age            class
0    14   175    62    30     0  33.6  0.212   38  tested_positive
1     4   146    78     0     0  38.5  0.520   67  tested_positive
2    15   136    70    32   110  37.1  0.153   43  tested_positive
3     3   107    62    13    48  22.9  0.678   23  tested_positive
4     3   169    74    19   125  29.9  0.268   31  tested_positive

In [19]:
FV1 = df.iloc[[0], :-1]

In [20]:
FV1

   preg  plas  pres  skin  insu  mass   pedi  age
0    14   175    62    30     0  33.6  0.212   38

In [25]:
FV2

   preg  plas  pres  skin  insu  mass  pedi  age
1     4   146    78     0     0  38.5  0.52   67

In [26]:
FVS = pd.concat([FV1, FV2])

In [27]:
FVS

   preg  plas  pres  skin  insu  mass   pedi  age
0    14   175    62    30     0  33.6  0.212   38
1     4   146    78     0     0  38.5  0.520   67

In [28]:
FV3 = df.iloc[[3],:-1]

In [29]:
FV3

   preg  plas  pres  skin  insu  mass   pedi  age
3     3   107    62    13    48  22.9  0.678   23

In [23]:
FV2 = df.iloc[[1], :-1]

In [22]:
sigma = 0.1 * np.max()

     preg  plas  pres  skin  insu  mass   pedi  age
1       4   146    78     0     0  38.5  0.520   67
2      15   136    70    32   110  37.1  0.153   43
3       3   107    62    13    48  22.9  0.678   23
4       3   169    74    19   125  29.9  0.268   31
5       5   116    74    29     0  32.3  0.660   35
..    ...   ...   ...   ...   ...   ...    ...  ...
763     5   117    92     0     0  34.1  0.337   38
764     4    83    86    19     0  29.3  0.317   34
765     7   119     0     0     0  25.2  0.209   37
766     1    95    66    13    38  19.6  0.334   25
767     1   181    64    30   180  34.1  0.328   38

[767 rows x 8 columns]

In [12]:
df['class'].unique()

array(['tested_positive', 'tested_negative'], dtype=object)

In [13]:
df.groupby("class").agg("count")

                 preg  plas  pres  skin  insu  mass  pedi  age
class
tested_negative   500   500   500   500   500   500   500  500
tested_positive   268   268   268   268   268   268   268  268